page-requests {
  .segment-md .segment-button.todo-segment {
    color: #e13838;
  }
  .segment-md .segment-button.todo-segment.segment-activated {
    border-color: #e13838;
  }
  .segment-md .segment-button.doing-segment {
    color: #ffbb00;
  }
  .segment-md .segment-button.doing-segment.segment-activated {
    border-color: #ffbb00;
  }
  .segment-md .segment-button.done-segment {
    color: #00f8ae;
  }
  .segment-md .segment-button.done-segment.segment-activated {
    border-color: #00f8ae;
  }
  .add-circle {
    float: right;
  }
  .request-navbar .toolbar-content, .request-navbar .toolbar-content-md {
      display: flex;
  }
  .button-md {
      background-color: transparent;
      color: black;
  }
}
