<ion-header id="group-header">
  <ion-navbar class="groups-navbar">
    <button ion-button [menuToggle]="">
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{title}}</ion-title>
    <button ion-button icon-only (click)="presentPopover($event)" class="settings-button">
      <ion-icon name="more"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="groupType">
      <ion-segment-button *ngFor="let status of statuses" [ngStyle]="{'color': status.color}" value="{{status.title}}" (tap)="contentChanged(status.title)">
        {{status.abbreviation}} ({{statusCount[status.title]}})
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list reorder="true" (ionItemReorder)="reorderItems($event)" can-swipe="true">
      <ion-item-sliding *ngFor="let group of getGroups(groupType); let i=index">{{i+1}}. {{groups}}
          <ion-item nopadding (click)="goToNewGroupPageContext(group.id)">
            <span>{{group.title}}</span>
          </ion-item>
          <ion-item-options side="right" (ionSwipe)="changeStatusLeft(group)"></ion-item-options>
          <ion-item-options side="left" (ionSwipe)="changeStatusRight(group)"></ion-item-options>
      </ion-item-sliding>
  </ion-list>
</ion-content>
