<ion-header>
  <ion-navbar>
    <button ion-button icon-only (click)="deleteData()" class="minus-circle">
      <ion-icon name="minus-circle"></ion-icon>
    </button>
    <ion-title>Requests</ion-title>
    <button ion-button icon-only (click)="addData()" class="add-circle">
      <ion-icon name="add-circle"></ion-icon>
    </button>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-toolbar no-border-top>
    <ion-segment [(ngModel)]="requestType">
      <ion-segment-button *ngFor="let status of statuses" [ngStyle]="{'color': status.color}" value="{{status.title}}" (tap)="contentChanged(status.title)">
        {{status.title}}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  <ion-list reorder="true" (ionItemReorder)="reorderItems($event)">
      <ion-item-sliding *ngFor="let request of getRequests(requestType); let i=index">{{i+1}}. {{requests}}
          <ion-item nopadding (click)="editData(request.rowid)">
            <span>{{request.title}}</span>
          </ion-item>
      </ion-item-sliding>
  </ion-list>
</ion-content>
